/*Priority To Do List: Add border blur to search; Fix Placement on Google and Searchbar*/


* { 
	margin: 0px;
	padding: 5px;
	box-sizing: border-box; 
	font-family: "Times New Roman", FreeSerif;
	font-size: 15px
	}
a {
	text-decoration: none;
	} 
	a:hover { 
		text-decoration: underline;
		}

body {
	display: grid;
	height: 100vh;
	grid-template-columns: 250px 1fr 250px;
	grid-template-rows: 50px 1fr 1fr 50px;
	grid-template-areas: 
	"nav_left . nav_right"
	". search ."
	"gap gap gap"
	"about about about"
	;
	}
	
	.nav_right {
	grid-area:nav_right;
	background-color: #FFF;
	color: black;
	display: flex;
	align-items: center;
	}
		.signup {
			width: 100px;
			height: 40px;
			color: white;
			background-color: blue;
			border-radius: 5px;
			border-style: none
			}
		
	.nav_left {
	grid-area:nav_left;
	background-color: #FFF;
	display: flex;
	align-items: center;
	}
	
	.search {
	grid-area: search; 
	background-color: #FFF; 
	display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
		.logo {
			width: 275px;
			height: 100px;
		}
	
		.searchbar {
			width: 75%;
			height: 40px;
			border-radius: 500px;	
			font-family: ;
			border-style: solid;
		} 
		
		input:focus { 
		outline: none;
		box-shadow: 10px 10px #eee;
		}
		
		.gap { 
		
		}
		
		.about {
			grid-area: about;
			background-color: #f1f1f1;
		}
